@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@0,300;0,400;0,700;1,600&display=swap");

/* Css reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "PROMPT";
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.section-1-heading {
  font-weight: 900;
  font-size: 8.5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.7rem #000;
  color: #dc3145;
  text-transform: capitalize;
}
/*End of Css reset style  */

/* Section 1*/
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.section-1 .section-1-icons i {
  font-size: 20rem;
  color: #dc3145;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
  transition: transform 0.3s 0.3s;
}

.section-1-icons i.slide-show {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}
/* End Of Section 1*/

/* Start of Section 2*/
#section-2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 10rem;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dc3145;
  padding: 15px;
  border-radius: 20px;
  transition: transform 0.7s;
}

.card:hover {
  transform: translateY(-15px);
}

.card img {
  filter: contrast(100px);
  border-radius: 15px;
}

.card-textBox {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  margin: 5px 0px;
}

.card-p {
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 12.5px;
}

.card-btn {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 0.5em;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0.3rem 0.3rem 0.7rem #000;
  cursor: pointer;
}

.card-btn:hover {
  background: rgb(207, 203, 203);
}

@media screen and (max-width: 1400px) {
  .card {
    width: 45%;
  }

  .card img {
    width: 82%;
  }

  #section-2 .section-1-heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 65%;
  }

  .card img {
    width: 82%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #section-2 .section-1-heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 85%;
  }

  .card img {
    width: 90%;
  }

  .card-textBox {
    padding: 10px 19px;
  }

  #section-2 .section-1-heading {
    font-size: 2rem;
    text-shadow:none;
    
  }
}

@media screen and (max-width: 500px) {
  #section-2 {
    padding: 5rem;
  }

  .card {
    width: 95%;
  }

  .card img {
    width: 100%;
  }

  .card-textBox {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    
  }

  #section-2 .section-1-heading {
    font-size: 1.3rem;
  }

  .card-name{
    font-size: 15px;
  }

  .card-p {
    max-width: 280px;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }
}
/* End of Section 2*/


/*Start  of section 3*/
.section-gallery{
  background-color: #F5F5F5;
  padding:10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-link{
  position: relative;
  margin:4rem 1rem ;
}

.gallery-link::before{
  content: "";
  width: 0.2rem;
  height: 0%;
  background-color: #fff;
  position: absolute;
  top: 2vw;
  left:80%;
  background-color: rgb(199, 28, 28);
  transition: height .5s;
  z-index: 100;
}

.gallery-link:hover::before{
  height: 80%;
}

.gallery-link::after{
  content: "";
  width:0;
  height: .2rem;
  background-color: rgb(199, 28, 28);
  position: absolute;
  top: 30%;
  left:7%;
  transform: rotate(180deg);
  transition: width .5s;
}

.gallery-link:hover::after{
  width:90%;
}

.gallery-img{
  width: 25vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: .3rem .3rem .2rem #dc3145 , 
  .5rem .5rem .3rem #a00e1f,
  .7rem .7rem .4rem #7a131f,
  .9rem .9rem .5rem #4a0b13 ;
  transition: all .5s;
}

.gallery-link:hover .gallery-img{
  box-shadow: .6rem .6rem .3rem #dc3145 , 
  .8rem .8rem .4rem #a00e1f,
  1rem .1rem .5rem #7a131f,
  1.1rem 1.1rem .6rem #4a0b13 ;
  opacity: .5;
  filter:blur(.5rem) ;
  transform: scale(1.1);

}



.gallery-textBox h3{
  position: absolute;
}

.gallery-text-tilte{
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  width: 0;
  overflow: hidden;
}

.gallery-link:hover .gallery-text-tilte{
  width: 100%;
  transition: width 1s .5s;
}

.gallery-text-p{
  position: absolute;
  bottom: 2vw;
  left: 3rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300px;
  letter-spacing: .1rem;
  color: #000;
  opacity: 0;
}

.gallery-link:hover .gallery-text-p{
  opacity: 1;
  transition:  opacity .5s .5s;
}




/*End  of section 3*/
