@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@0,300;0,400;0,700;1,600&display=swap");

/* Css reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "PROMPT";
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.section-1-heading {
  font-weight: 900;
  font-size: 8.5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.7rem #000;
  color: #dc3145;
  text-transform: capitalize;
}
/*End of Css reset style  */

/* Section 1*/
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.section-1 .section-1-icons i {
  font-size: 20rem;
  color: #dc3145;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
  transition: transform 0.3s 0.3s;
}

.section-1-icons i.slide-show {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}
/* End Of Section 1*/

/* Start of Section 2*/
#section-2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 10rem;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dc3145;
  padding: 15px;
  border-radius: 20px;
  transition: transform 0.7s;
}

.card:hover {
  transform: translateY(-15px);
}

.card img {
  filter: contrast(100px);
  border-radius: 15px;
}

.card-textBox {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  margin: 5px 0px;
}

.card-p {
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 12.5px;
}

.card-btn {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 0.5em;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0.3rem 0.3rem 0.7rem #000;
  cursor: pointer;
}

.card-btn:hover {
  background: rgb(207, 203, 203);
}

@media screen and (max-width: 1400px) {
  .card {
    width: 45%;
  }

  .card img {
    width: 82%;
  }

  #section-2 .section-1-heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 65%;
  }

  .card img {
    width: 82%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #section-2 .section-1-heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 85%;
  }

  .card img {
    width: 90%;
  }

  .card-textBox {
    padding: 10px 19px;
  }

  #section-2 .section-1-heading {
    font-size: 2rem;
    text-shadow:none;
    
  }
}

@media screen and (max-width: 500px) {
  #section-2 {
    padding: 5rem;
  }

  .card {
    width: 95%;
  }

  .card img {
    width: 100%;
  }

  .card-textBox {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    
  }

  #section-2 .section-1-heading {
    font-size: 1.3rem;
  }

  .card-name{
    font-size: 15px;
  }

  .card-p {
    max-width: 280px;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }
}
/* End of Section 2*/
