@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Prompt:ital,wght@0,300;0,400;0,700;1,600&family=Rubik&display=swap");

:root{
     --primary-color : #22254b;
     --secondry-header-color : #373b69;
}

body{
     font-family: "Rubik", sans-serif;
     margin: 0;
     background-color: var(--primary-color);
}

header{
     background-color: var(--secondry-header-color);
     display: flex;
     justify-content: space-between;
     padding: 1rem;
     align-items: center;
}

header h1{
     color: #fff;
     font-size: 1.7rem;
     cursor: pointer;
}

.search-bar{
     background-color: transparent;
     border: none;
     padding: .5rem 1rem;
     font-size: 1rem;
     border-radius: 50px;
     color: white;
     border: 2px solid var(--primary-color);
     position: relative;
     display: flex;
}

.search-bar::placeholder{
     color: #fff;
}

.search-bar:focus{
     background-color: var(--primary-color);
}

.icon-search{
     position: absolute;
     right: 1.7rem;
     top: 2.6rem;
     color: #fff;
     cursor: pointer;
}

/* main style*/

main{
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
}

.movie-container{
     width: 300px;
     margin: 1rem;
     background-color: #373b69;
     box-shadow:  0 4px 5px rgba(0, 0, 0, .2);
     position: relative;
     border-radius: 3px;

}

.movie-img img {
     width: 100%;
}

.movie-detail{
     display: flex;
     justify-content: space-between;
     margin: 10px 20px;
     color: #fff;
}

.movie-score{
     background-color:var(--primary-color) ;
     border-radius: 3px;
     padding: 3px;
     font-weight: bold;
}

.movie-score.green{
     color: lightgreen;
}

.movie-score.red{
     color: red;
}

.movie-score.orenge{
     color: orange;
}

.overview{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #fff;
     padding: 1rem;
     max-height: 100%;
     display: none;
     transition: all .5s ;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

.movie-container:hover .overview{
     display: block;
}

